[loggers]
keys = root

[handlers]
keys = accesslog, redis

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = accesslog,redis
qualname = wsgi
propagate = 0

[handler_redis]
class = redislogger.RedisLogger
args = ('localhost','q:demo', 6379, 10) # host, list_name, port (optional), db (optional)
level = INFO
formatter = generic

[handler_accesslog]
class = FileHandler
args = ('access.log','a')
level = INFO
formatter = generic

[formatter_generic]
format = %(asctime)s,%(msecs)03d %(levelname)-5.5s [%(name)s] %(message)s
